[submodule "tools/genmsg"]
	path = tools/genmsg
	url = https://github.com/ros/genmsg.git
  branch = indigo-devel 
[submodule "tools/gencpp"]
	path = tools/gencpp
	url = https://github.com/ros/gencpp.git
  branch = indigo-devel 
[submodule "src/elka_comm"]
	path = src/elka_comm
	url = https://github.com/han-so1omon/elka_comm
	branch = elka_impl
